# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/

# Ignore data directories
Amazon_HydroSHEDS_river_basin/
Amazon_HydroSHEDS_river_networks/
basins/


# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore image files
*.tif

# Ignore output json files
fold_split.json