# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/

# Ignore data directories
Amazon_HydroSHEDS_river_basin/
Amazon_HydroSHEDS_river_networks/
basins/
/data_figures

# Ignore the cloned repository
gee_s1_ard/

# Ignore the tensorboard tracking files
runs/

# Ignore model experiments
experiments/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore image files
*.tif
*.npy
# *.png
*.jpeg

# Ignore output json files
fold_split.json

# Ignore archived scripts
dataset_prepare_archieved.py

# Ignore GEE-API key file 
sen12flood-qiuyangchen-8fdb42008616.json